

/*.slick-slider {
	display: inline-block;
}*/

/*.slick-slider {
	width: 100%;
}*/

#container {
	width: 100%;
}

a  {
	outline: none;
}

.mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
}

h2 {
	font-weight: 700;
	font-size: 30px;
	line-height: 125%;
	padding-bottom: 10px;
	letter-spacing: 2px;
}

.fiftyyears h2 {
	color: rgb(194,31,60);
}

.fiftyyears, .staff, .drr {
	color: rgb(88,89,91);
	font-size: 15px;
	font-weight: 600;
	line-height: 135%;
	padding: 25px 15px 25px 36px;
}
